OPENROUTER_API_KEY="<key here>"
ATTACKER_LLM="SET_LLM_HERE" # Can be any OpenRouter or local running model using Ollama; depending on 'LLM_SOURCE'
TARGET_LLM="SET_LLM_HERE" # Can be any OpenRouter or local running model using Ollama; depending on 'LLM_SOURCE'
JUDGE_LLM="SET_LLM_HERE" # Can be any OpenRouter or local running model using Ollama; depending on 'LLM_SOURCE'
LLM_SOURCE="OpenRouter" # OpenRouter or Ollama 
ATTACK_MODE="Single-turn" # Single-turn or Multi-turn
ATK_OBJECTIVES_FILEPATH="attack_objectives/test_objectives.csv" # Filepath to attack objectives csv file
ATK_TECHNIQUES_FILEPATH="attack_techniques/test_techniques.csv" # Filepath to attack techniques csv file