attrs
Automat
Babel
bcrypt
black
blinker
certifi
chardet
click
colorama
command-not-found
configobj
constantly
cryptography
dbus-python
distro
distro-info
httplib2
hyperlink
idna
incremental
isort
Jinja2
jsonpatch
jsonpointer
jsonschema
launchpadlib
lazr.restfulclient
lazr.uri
markdown-it-py
MarkupSafe
mdurl
mypy_extensions
netifaces
oauthlib
packaging
pathspec
platformdirs
pyasn1
pyasn1-modules
pycurl
Pygments
PyGObject
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
pytokens
pytz
PyYAML
requests
rich
service-identity
setuptools
six
systemd-python
Twisted
typing_extensions
ubuntu-pro-client
unattended-upgrades
urllib3
wadllib
wheel
zope.interface
